<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Type product</title>
</head>
<body>
<a href="/list-product">Back to product list</a><br>
<a href="/create-type">Create new type product</a>
<h1>Type Product</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="typeproducts : ${type}">
        <tr>
            <td th:text="${typeproducts.id}"></td>
            <td th:text="${typeproducts.name}"></td>
            <td><a th:href="@{/edit-type/__${typeproducts.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-type/__${typeproducts.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>