<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<a href="/list-type">Move type</a><br>
<a href="/create-product">Create new product</a>
<h1>Product</h1>
<form>
    Search by  name :
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <!--        <th>ID</th>-->
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product:${products}">
        <tr>
            <td th:text="${product.name}">
            <td th:text="${product.price}">
            <td th:text="${product.amount}">
            <td th:text="${product.date}">
            <td th:text="${product.description}">
            <td th:text="${product.typeProduct.name}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/list-product'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/list-product'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>